data/np_ob_all_10000_train_2.npy filter=lfs diff=lfs merge=lfs -text
data/np_out2_all_11000_train_2.npy filter=lfs diff=lfs merge=lfs -text
data/np_vase_all_11000_train_2.npy filter=lfs diff=lfs merge=lfs -text
